<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="Stylesheet" href="login.css">
</head>
<body>

	<section class="login">
        <div class="signup">
		 <form action="">
            <h5>Click here to create a new Account</h5>
            <button formaction="./signup.html">SignUp</button>
	 	 </form>
		</div>
		<div class="login_box">
			<div class="left">
				<div class="top_link"><a href="#"><img src="https://drive.google.com/u/0/uc?id=16U__U5dJdaTfNGobB_OpwAJ73vM50rPV&export=download" alt="">Return home</a></div>
				<div class="contact">
					<form action="">
						<h3>SIGN IN</h3>
						<input type="text" placeholder="USERNAME">
						<input type="password" placeholder="PASSWORD">
						<button class="submit" formaction="../index.html">LET'S GO</button>
					</form>
				</div>
			</div>
			<div class="right">
				<div class="right-text">
					<h2>News Tracker</h2>
					<h5>Login to know about what is happening??</h5>
				</div>
				
		</div>
	</section>
</body>
</html>