<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    *{
        padding: 0;
        margin: 0;
    }
    /*  Nav bar Styling */
  .navbar{
    display: flex;
    top: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 7%;
    background-color: black;
  }
  .nav-left {
    width: 30%;
    display: flex;
    color: white;
    font-family: 'Lato';font-size: 2rem;
  }
  .nav-left h4{
    margin-top: auto;
    margin-bottom: auto;
  }
  .nav-center{
    width: 40%;
  }
  .nav-right{
    width: 30%;
  }
  </style>
  <body>
    <div class="navbar">
      <div class="nav-left">
        <img src="https://res.cloudinary.com/newztrakerapplication/image/upload/v1666162102/logo_aehult.png" alt="Logo" />
        <h4>Newzio</h4>
      </div>
      <div class="nav-center"></div>
      <div class="nav-right"></div>
    </div>
  </body>
</html>
