{% extends 'base.html' %} {% block head %}
<title>Medium Clone</title>
<link
  href="https://fonts.googleapis.com/css?family=Open Sans"
  rel="stylesheet"
/>
<style>
  * {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
  }

  /* Header Starts */

  .header-container {
    height: 80px;
    width: 100%;
    z-index: 100;
    background-color: #ffc017;
    margin: auto;
    position: fixed;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid black;
    display: flex;
  }
  .header-left {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-right {
    width: 40%;
    display: flex;
    align-items: center;
    margin-left: 390px;
  }
  .img {
    height: 50px;
    width: 190px;
  }
  .img img {
    height: 100%;
    width: 100%;
  }
  .header-right p {
    font-size: 1.1rem;
    padding-right: 20px;
    font-weight: 600;
  }
  .get-started {
    background-color: black;
    border-radius: 29px;
    padding: 10px;
    color: white;
    font-weight: 600;
  }

  /* Banner Starts */
  .banner-container {
    height: auto;
    position: relative;
    background-color: #ffc017;
    width: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    border-bottom: 2px solid black;
  }
  .banner-left {
    width: 60%;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
  .banner-right {
    width: 40%;
  }
  .banner-heading {
    font-size: 6rem;
    margin-top: 150px;
    margin-left: 350px;
  }
  .banner-subheading {
    font-size: 1.9rem;
    margin-top: 15px;
    margin-left: 350px;
  }
  .banner-button {
    background-color: black;
    color: white;
    width: fit-content;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    border-radius: 27px;
    font-size: 1.3rem;
    margin-top: 50px;
    margin-bottom: 100px;
    font-weight: 600;
    margin-left: 350px;
  }
  .banner-right {
    margin-top: 50px;
    text-align: right;
  }
  /* Posts Starts */
  .link {
    text-decoration: none;
    color: black;
  }
  .posts-container {
    height: 100%;
    width: 100%;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
  }
  .post-card {
    height: fit-content;
    width: 70%;
    text-align: center;
    border-radius: 30px;
    padding: 20px;
    align-items: center;
    margin: auto;
    justify-content: center;
    background-color: rgb(234, 233, 233);
  }
  .post-heading {
    width: fit-content;
    margin: auto;
    padding: 10px;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 10px;
  }
  .post-content {
    text-align: justify;
    margin-top: 30px;
    font-size: 1.6rem;
  }
  .post-btn-container {
    display: flex;
    gap: 10px;
    margin-top: 30px;
    text-align: center;
    justify-content: center;
  }
  .post-button {
    width: 100px;
    background-color: black;
    color: white;
    font-size: 1.6rem;
    border-radius: 27px;
    padding: 10px;
    margin: auto;
  }
  .post-footer{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    font-size: 1.7rem;
    font-weight: 600;
  }
</style>
{% endblock %} {% block body %}
<!-- Header Part -->
<div class="header-container">
  <div class="header-left">
    <a href="/" class="link"><div class="img">
      <img
        src="https://res.cloudinary.com/newztrakerapplication/image/upload/v1663466894/1_s986xIGqhfsN8U--09_AdA_sq3ok6.png"
        alt="mediumclone.com"
      /></a>
    </div>
  </div>
  <div class="header-right">
    <a href="/" class="link"><p>Home</p></a>
    <a href="/about" class="link"><p>About Us</p></a>
    <a href="/posts" class="link"><p>Write</p></a>
    <a href="/login" class="link"><p>Sign In</p></a>

    <a href="/signup" class="link"><div class="get-started">Get Started</div></a>
  </div>
</div>
<hr />
<!-- Banner Part -->
<div class="banner-container">
  <div class="banner-left">
    <div class="banner-heading">Stay curious.</div>
    <div class="banner-subheading">
      Discover stories, thinking, and expertise from writers on any topic.
    </div>
    <a href="/allposts" class="link">
      <div class="banner-button">Start reading</div>
    </a>
  </div>
  <div class="banner-right">
    <img
      src="https://res.cloudinary.com/newztrakerapplication/image/upload/v1663468224/richard_ua6qy1.svg"
      alt=""
    />
  </div>
</div>
<!-- Posts Part -->
{% for post in posts %}
<div class="posts-container">
  <div class="post-card">
    <div class="post-heading">{{ post.title }}</div>
    <hr />
    <div class="post-content">
      {{ post.content }}
    </div>
    {% if post.author %} 
    <div class="post-footer">
      <p>Author: {{ post.author }}</p>
      <p>Date: {{ post.date_posted }}</p>
    </div>
    {% else %}
    <div class="post-footer">
      <p>Author: N/A</p>
      <p>Date: {{ post.date_posted }}</p>
    </div>
    {% endif %}
    <div class="post-btn-container">
      <a href='/posts/delete/{{post.id}}' class="link">
        <div class="post-button">Delete</div>
      </a>
      <a href='/posts/edit/{{post.id}}' class="link">
        <div class="post-button">Edit</div>
      </a>
    </div>
  </div>
</div>
{% endfor%}
{% endblock %}
