{% block head %}
<title>Medium Clone</title>
<link
  href="https://fonts.googleapis.com/css?family=Open Sans"
  rel="stylesheet"
/>
<style>
  * {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
  }

  /* Header Starts */

  .header-container {
    height: 80px;
    width: 100%;
    z-index: 100;
    background-color: #ffc017;
    margin: auto;
    position: fixed;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid black;
    display: flex;
  }
  .header-left {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-right {
    width: 40%;
    display: flex;
    align-items: center;
    margin-left: 390px;
  }
  .img {
    height: 50px;
    width: 190px;
  }
  .img img {
    height: 100%;
    width: 100%;
  }
  .header-right p {
    font-size: 1.1rem;
    padding-right: 20px;
    font-weight: 600;
  }
  .get-started {
    background-color: black;
    border-radius: 29px;
    padding: 10px;
    color: white;
    font-weight: 600;
  }
</style>
{% endblock %} {% block body %}
<!-- Header Part -->
<div class="header-container">
  <div class="header-left">
    <div class="img">
      <a href="/" class="link"><img
        src="https://res.cloudinary.com/newztrakerapplication/image/upload/v1663466894/1_s986xIGqhfsN8U--09_AdA_sq3ok6.png"
        alt="mediumclone.com"
      /></a>
    </div>
  </div>

  <div class="header-right">
    <a href="/" class="link"><p>Posts</p></a>
    <a href="/about" class="link"><p>About Us</p></a>
    <a href="#" class="link"><p>Trending</p></a>
    <a href="#" class="link"><p>Sign In</p></a>

    <a href="#" class="link"><div class="get-started">Get Started</div></a>
  </div>
</div>
<hr />